# Ebay Don't Get Kicked Prediction 

- prepare testing data and output to local .csv file
- read in prepared testing data into model_trained.ipynb and test the model

Data Dictionary:

Field Name				Definition
RefID				    Unique (sequential) number assigned to vehicles
IsBadBuy				Identifies if the kicked vehicle was an avoidable purchase 
PurchDate				The Date the vehicle was Purchased at Auction
Auction					Auction provider at which the vehicle was purchased
VehYear					The manufacturer's year of the vehicle
VehicleAge				The Years elapsed since the manufacturer's year
Make					Vehicle Manufacturer 
Model					Vehicle Model
Trim					Vehicle Trim Level
SubModel				Vehicle Submodel
Color					Vehicle Color
Transmission	        Vehicles transmission type (Automatic, Manual)
WheelTypeID				The type id of the vehicle wheel
WheelType				The vehicle wheel type description (Alloy, Covers)
VehOdo					The vehicles odometer reading
Nationality				The Manufacturer's country
Size					The size category of the vehicle (Compact, SUV, etc.)
TopThreeAmericanName			Identifies if the manufacturer is one of the top three American manufacturers
MMRAcquisitionAuctionAveragePrice	Acquisition price for this vehicle in average condition at time of purchase	
MMRAcquisitionAuctionCleanPrice		Acquisition price for this vehicle in the above Average condition at time of purchase
MMRAcquisitionRetailAveragePrice	Acquisition price for this vehicle in the retail market in average condition at time of purchase
MMRAcquisitonRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition at time of purchase
MMRCurrentAuctionAveragePrice		Acquisition price for this vehicle in average condition as of current day	
MMRCurrentAuctionCleanPrice		Acquisition price for this vehicle in the above condition as of current day
MMRCurrentRetailAveragePrice		Acquisition price for this vehicle in the retail market in average condition as of current day
MMRCurrentRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition as of current day
PRIMEUNIT				Identifies if the vehicle would have a higher demand than a standard purchase
AcquisitionType				Identifies how the vehicle was aquired (Auction buy, trade in, etc)
AUCGUART				The level guarntee provided by auction for the vehicle (Green light - Guaranteed/arbitratable, Yellow Light - caution/issue, red light - sold as is)
KickDate				Date the vehicle was kicked back to the auction
BYRNO					Unique number assigned to the buyer that purchased the vehicle
VNZIP                                   Zipcode where the car was purchased
VNST                                    State where the the car was purchased
VehBCost				Acquisition cost paid for the vehicle at time of purchase
IsOnlineSale				Identifies if the vehicle was originally purchased online
WarrantyCost                            Warranty price (term=36month  and millage=36K)

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#enable IPython to display matplotlib graphs
%matplotlib inline
import csv

In [34]:
#read in testing data
data=pd.read_csv('test.csv')
data.head(10)

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,...,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,...,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,...,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,...,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920
5,73020,12/2/2009,ADESA,2006,3,DODGE,STRATUS 4C,SXT,4D SEDAN,GREEN,...,7118.0,8102.0,NaN,NaN,18881,30212,GA,4200.0,0,1341
6,73021,12/2/2009,ADESA,2006,3,FORD,EXPLORER 2WD V6,XLS,4D SUV 4.0L XLS,BROWN,...,13679.0,14650.0,NaN,NaN,18881,30212,GA,8500.0,0,1155
7,73022,12/2/2009,ADESA,2003,6,CHRYSLER,PT CRUISER,Tou,4D SEDAN LIMITED,BLUE,...,6912.0,7734.0,NaN,NaN,18881,30212,GA,4100.0,0,1689
8,73023,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU 4C,Bas,4D SEDAN,SILVER,...,7412.0,8507.0,NaN,NaN,18111,30212,GA,5900.0,0,764
9,73024,12/2/2009,ADESA,2006,3,CHRYSLER,TOWN & COUNTRY FWD V,Tou,MINIVAN 3.8L,WHITE,...,13162.0,15506.0,NaN,NaN,18111,30212,GA,6700.0,0,1623

In [35]:
data.shape #72983

(48707, 33)

In [36]:
data.columns

Index(['RefId', 'PurchDate', 'Auction', 'VehYear', 'VehicleAge', 'Make',
       'Model', 'Trim', 'SubModel', 'Color', 'Transmission', 'WheelTypeID',
       'WheelType', 'VehOdo', 'Nationality', 'Size', 'TopThreeAmericanName',
       'MMRAcquisitionAuctionAveragePrice', 'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice',
       'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice',
       'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice',
       'PRIMEUNIT', 'AUCGUART', 'BYRNO', 'VNZIP1', 'VNST', 'VehBCost',
       'IsOnlineSale', 'WarrantyCost'],
      dtype='object')

## Variable check up:
- response variable: 'IsBadBuy'
- index: 'Refld'
- numeric variables: 'VehicleAge','VehOdo', 'MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice', 'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice','VehBCost','WarrantyCost'
- binary variables: 'Transmission','PRIMEUNIT','IsOnlineSale'
- multi-categorical variables: 'PurchDate','Auction','VehYear', 'Make', 'Model', 'Trim', 'SubModel', 'Color', 'WheelTypeID', 'Nationality', 'Size', 'TopThreeAmericanName', 'AUCGUART','BYRNO','VNZIP1', 'VNST'

In [37]:
data['BYRNO'].value_counts()

19638    2972
5546     2943
99761    2374
18111    1915
20740    1831
8655     1819
16044    1785
18822    1706
17675    1696
17212    1687
19619    1684
23359    1599
99750    1595
18881    1585
20833    1535
16926    1490
20928    1470
20207    1444
19662    1380
21973    1372
22808    1342
25100    1333
18880    1316
8172     1162
20234    1035
22916     798
21053     705
23657     675
835       652
52117     495
         ...
1085       63
1031       53
1231       45
11410      38
1045       34
18091      23
1141       20
1081       18
1051       15
10415      15
53245      13
1035       12
10310      12
1121       11
1156        9
11210       8
1125        7
10510       6
1086        4
10425       3
53100       3
3582        3
1041        2
1055        2
22155       2
1152        2
10420       1
1157        1
99791       1
99742       1
Name: BYRNO, dtype: int64

In [38]:
#rows with missing value check:
nan_rows = lambda df: df[df.isnull().any(axis=1)]
nan_rows(data).shape #69707 rows have NaNs

(46288, 33)

In [39]:
#columns with missing value check:
nan_cols = lambda df: df.columns[df.isnull().any()].tolist()
nan_cols(data)

['Trim',
 'SubModel',
 'Color',
 'Transmission',
 'WheelTypeID',
 'WheelType',
 'Nationality',
 'Size',
 'TopThreeAmericanName',
 'MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice',
 'PRIMEUNIT',
 'AUCGUART']

## Impute/Transform Missing Values

['Trim',
 'SubModel',
 'Color',
 'Transmission',
 'WheelTypeID',
 'WheelType',
 'Nationality',
 'Size',
 'TopThreeAmericanName',
 'MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice',
 'PRIMEUNIT',
 'AUCGUART']

In [40]:
#'Trim' has too many levels and missing values
#consider convert into binary variable with 1 for having trim, and 0 for no trim
data['Trim'].value_counts()
data['Trim'].isnull().value_counts()

False    47157
True      1550
Name: Trim, dtype: int64

In [41]:
data.loc[~data['Trim'].isnull(),'Trim2']=1
data.loc[data['Trim2'].isnull(),'Trim2']=0
data['Trim2'].value_counts()

1.0    47157
0.0     1550
Name: Trim2, dtype: int64

In [42]:
#flat out to binary variables or 4D, SEDAN, SUB, MINIVAN..
data['SubModel'].value_counts().head(150) 
data['SubModel']=data['SubModel'].astype('category')
data['SubModel'].isnull().value_counts() #only 8 missing values, we will impute with top frequent level:
data.loc[data['SubModel'].isnull(),'SubModel']='4D SEDAN'
data['SubModel'].isnull().value_counts()

False    48707
Name: SubModel, dtype: int64

In [43]:
#binary variables to flat out from 'SubModel'
#'4D', '2D', SEDAN', 'SUV', 'SPORT', 'MINIVAN', 'WAGON', 'COUPE', 'PASSENGER', 'CAB', 'CONVERTIBLE','UTILITY'

keywords_from_SubModel=['4D', '2D', 'SEDAN', 'SUV', 'SPORT', 'MINIVAN', 'WAGON', 'COUPE', 'PASSENGER', 
                      'CAB', 'CONVERTIBLE','UTILITY']
binary_var_from_SubModel=['4D', '2D', 'SEDAN', 'SUV', 'SPORT', 'MINIVAN', 'WAGON', 'COUPE', 'PASSENGER', 
                      'CAB', 'CONVERTIBLE','UTILITY']

for keyword, var in zip(keywords_from_SubModel, binary_var_from_SubModel):
    data.loc[data['SubModel'].str.contains(keyword),var]=1
    data.loc[data[var].isnull(),var]=0

data[binary_var_from_SubModel].head(10)

,4D,2D,SEDAN,SUV,SPORT,MINIVAN,WAGON,COUPE,PASSENGER,CAB,CONVERTIBLE,UTILITY
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
#'Color' has only 8 missing values, we impute with top frequent level
data['Color'].isnull().value_counts()
data['Color'].value_counts() #silver is the most popular
data.loc[data['Color'].isnull(),'Color']='Silver'
data['Color'].isnull().value_counts()

False    48707
Name: Color, dtype: int64

In [45]:
#'Transmission' only 9 missing values, impute with top frequent level
data['Transmission'].isnull().value_counts()
data['Transmission'].value_counts() #'AUTO'
data.loc[data['Transmission'].isnull(),'Transmission']='AUTO'
data.loc[data['Transmission']=='Manual','Transmission']='MANUAL'
data['Transmission'].value_counts()

AUTO      47013
MANUAL     1694
Name: Transmission, dtype: int64

In [46]:
#'WheelTypeID','WheelType' are interchangeable, we will use WheelType
data['WheelType'].isnull().value_counts() #3000 missing values
data['WheelType'].value_counts() #top two frequent terms are 'Alloy', 'Covers'
#impute missing values with two frequent terms randomly
import random 
data.loc[data['WheelType'].isnull(),'WheelType']=random.choice(['Alloy','Covers'])
data['WheelType'].value_counts()

Alloy      27631
Covers     20651
Special      425
Name: WheelType, dtype: int64

In [47]:
#impute with most frequent level 'AMERICAN'
data['Nationality'].isnull().value_counts() #only 5 missing values
data['Nationality'].value_counts()
data.loc[data['Nationality'].isnull(),'Nationality']='AMERICAN'
data['Nationality'].value_counts()

AMERICAN          40420
OTHER ASIAN        5838
TOP LINE ASIAN     2326
OTHER               123
Name: Nationality, dtype: int64

In [48]:
#impute with most frequent level
data['Size'].isnull().value_counts() #only 5 missing values
data['Size'].value_counts()
data.loc[data['Size'].isnull(),'Size']='MEDIUM'
data['Size'].value_counts()

MEDIUM         20368
LARGE           5711
MEDIUM SUV      5453
COMPACT         4881
VAN             4042
LARGE TRUCK     2069
SMALL SUV       1575
SPECIALTY       1446
CROSSOVER       1286
LARGE SUV        868
SPORTS           516
SMALL TRUCK      492
Name: Size, dtype: int64

In [49]:
#impute with top frequent level
data['TopThreeAmericanName'].isnull().value_counts() #only 5 missing values
data['TopThreeAmericanName'].value_counts()
data.loc[data['TopThreeAmericanName'].isnull(),'TopThreeAmericanName']='GM'
data['TopThreeAmericanName'].value_counts()

GM          16964
CHRYSLER    15329
OTHER        8287
FORD         8127
Name: TopThreeAmericanName, dtype: int64

In [50]:
#for price related numerical variables, we impute with median value
list_to_impute=['MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice']

for var in list_to_impute:
    data.loc[data[var].isnull(), var]=data[var].median()
    
nan_rows(data[list_to_impute]) #all NaNs cleared

Empty DataFrame
Columns: [MMRAcquisitionAuctionAveragePrice, MMRAcquisitionAuctionCleanPrice, MMRAcquisitionRetailAveragePrice, MMRAcquisitonRetailCleanPrice, MMRCurrentAuctionAveragePrice, MMRCurrentAuctionCleanPrice, MMRCurrentRetailAveragePrice, MMRCurrentRetailCleanPrice]
Index: []

In [51]:
#impute with top frequent level
data['PRIMEUNIT'].isnull().value_counts() #3000 missing values
data['PRIMEUNIT'].value_counts() 
data.loc[data['PRIMEUNIT'].isnull(),'PRIMEUNIT']='NO'
data['PRIMEUNIT'].value_counts()

NO     48659
YES       48
Name: PRIMEUNIT, dtype: int64

In [52]:
#Impute with cautious neutral term 'YELLOW'
data['AUCGUART'].isnull().value_counts()
data['AUCGUART'].value_counts()
data.loc[data['AUCGUART'].isnull(),'AUCGUART']='YELLOW'
data['AUCGUART'].value_counts()

YELLOW    46191
GREEN      2470
RED          46
Name: AUCGUART, dtype: int64

## Transform/Recode Features

multi-categorical variables: 'PurchDate','Auction','VehYear', 'Make', 'Model', 'Trim', 'SubModel', 'Color', 'WheelType', 'Nationality', 'Size', 'TopThreeAmericanName', 'AUCGUART','BYRNO','VNZIP1', 'VNST'

- recode 'Make' into top 4 makes and other
- use binary variables created from 'SubModel' instead 
- recode 'Color' into top 6 and other
- recode 'Size' into 'MEDIUM', 'LARGE' and 'SMALL'
- recode 'VNST' into top 5 states and other
- break 'Model' into a list of tokens, and recode into top frequency terms and other

In [53]:
#recode 'Make' into top 4 makes and other
data['Make'].value_counts() 
top_4_make=['CHEVROLET','DODGE','FORD','CHRYSLER']

for make in top_4_make:
    data.loc[data['Make']==make, 'Make2']=make
data.loc[data['Make2'].isnull(),'Make2']='Other'
data['Make2'].value_counts()

Other        15635
CHEVROLET    11486
DODGE         8095
FORD          7441
CHRYSLER      6050
Name: Make2, dtype: int64

In [54]:
#recode 'Color' into top 6 and other
data['Color'].value_counts() 
top_6_color=['SILVER','WHITE','BLUE','GREY','BLACK','RED']

for color in top_6_color:
    data.loc[data['Color']==color, 'Color2']=color
data.loc[data['Color2'].isnull(),'Color2']='Other'
data['Color2'].value_counts()

SILVER    10083
Other      9311
WHITE      8054
BLUE       6839
BLACK      5177
GREY       5077
RED        4166
Name: Color2, dtype: int64

In [55]:
#recode 'Size' into 'MEDIUM', 'LARGE' and 'SMALL'
data['Size'].value_counts() 
sizes=['LARGE','MEDIUM','SMALL','COMPACT','VAN']

for size in sizes:
    data.loc[data['Size'].str.contains(size), 'Size2']=size
data.loc[data['Size2'].isnull(),'Size2']='Other'

#group 'COMPACT' and 'SMALL' into 'SMALL'
data.loc[data['Size2']=='COMPACT','Size2']='SMALL'
data['Size2'].value_counts()

MEDIUM    25821
LARGE      8648
SMALL      6948
VAN        4042
Other      3248
Name: Size2, dtype: int64

In [56]:
#recode 'VNST' into top 5 states and other
data['VNST'].value_counts() 
top_5_VNST=['TX','FL','CA','NC','AZ']

for state in top_5_VNST:
    data.loc[data['VNST']==state, 'VNST2']=state
data.loc[data['VNST2'].isnull(),'VNST2']='Other'
data['VNST2'].value_counts()

Other    22509
FL        8642
TX        6877
CA        5175
NC        3551
AZ        1953
Name: VNST2, dtype: int64

In [57]:
# break 'Model' into a list of tokens, and recode into top frequency terms and other
# consider the complexity and trivialness of tokens extracted, we will exclude 'Model' from analysis for now
# could consider extracting 'Engine Displacement', 'AWD/FWD/4WD', 'V6/V8' etc. 
model_to_list=' '.join(data['Model'].tolist())
tokens=model_to_list.split()
pd.DataFrame(tokens)[0].value_counts()

V6           18996
4C            7583
2WD           7273
I4            5539
FWD           5139
IMPALA        3032
GRAND         2916
PT            2765
CRUISER       2765
2.4L          2414
MALIBU        2359
V8            2351
4WD           2106
PICKUP        2042
S             2032
EFI           2018
3.5L          1985
TAURUS        1857
SFI           1759
3.0L          1621
2.2L          1571
STRATUS       1519
1500          1500
CARAVAN       1495
2.0L          1476
MPI           1471
SEBRING       1431
6C            1297
2.7L          1279
DURANGO       1245
             ...
CL               1
Q45              1
LHS              1
ENTOURAGE        1
V10              1
M35              1
GTO              1
PRIUS            1
FIT              1
PRIZM            1
LEGACY           1
LT               1
SEPHIA           1
ARMADA           1
/3.3L            1
B4000            1
FORESTER         1
MARK             1
HYBRID           1
5.6L             1
TSX              1
FX35             1
G20              1
GS350            1
N                1
RX330            1
F250             1
PGM-             1
ESCALADE         1
4.1L             1
Name: 0, dtype: int64

In [58]:
#create new numeric variables of premium paid for the car toward price at average condition
#and toward price at above average condition, at time of purchase, as percentage of original paid price
#in auction market
data['premium_ave_auc']=(data['VehBCost']-data['MMRAcquisitionAuctionAveragePrice'])/data['VehBCost']
data['premium_above_auc']=(data['VehBCost']-data['MMRAcquisitionAuctionCleanPrice'])/data['VehBCost']
#in retail market
data['premium_ave_mkt']=(data['VehBCost']-data['MMRAcquisitionRetailAveragePrice'])/data['VehBCost']
data['premium_above_mkt']=(data['VehBCost']-data['MMRAcquisitonRetailCleanPrice'])/data['VehBCost']

#ideally, the dealer purchase price for a used car is higher than auction house price, but much lower than retail market price, 
#so as to realize profit by reselling the car in retail

In [59]:
#create new numeric variables of depreciation of the car at original used purchase price vs price at average condition
#and vs price at above average condition, as of current day, as percentage of original paid price
#in auction market
data['deprec_ave_auc']=(data['VehBCost']-data['MMRCurrentAuctionAveragePrice'])/data['VehBCost']
data['deprec_above_auc']=(data['VehBCost']-data['MMRCurrentAuctionCleanPrice'])/data['VehBCost']
#in retail market
data['deprec_ave_mkt']=(data['VehBCost']-data['MMRCurrentRetailAveragePrice'])/data['VehBCost']
data['deprec_above_mkt']=(data['VehBCost']-data['MMRCurrentRetailCleanPrice'])/data['VehBCost']

## OneHotEncode Selected Multi-Categorical and Non-indexed Binary Variables

binary variables: 'Transmission','PRIMEUNIT','IsOnlineSale' ('IsOnlineSale' is coded in 0 and 1 already)
multi-categorical variables: 'PurchDate','Auction','VehYear', 'Make', 'Model', 'Trim', 'SubModel', 'Color', 'WheelTypeID', 'Nationality', 'Size', 'TopThreeAmericanName', 'AUCGUART','BYRNO','VNZIP1', 'VNST'

Selected multi-categorical and non-indexed binary variables: 'Transmission','PRIMEUNIT', 'Auction', 'Make2', 'Color2', 'WheelType', 'Nationality', 'Size2', 'TopThreeAmericanName', 'AUCGUART', 'VNST'

In [60]:
cols_to_onehot=['Transmission','PRIMEUNIT', 'Auction', 'Make2', 'Color2', 'WheelType', 'Nationality', 'Size2', 
                'TopThreeAmericanName', 'AUCGUART', 'VNST2']
onehotencoded=pd.get_dummies(data[cols_to_onehot], prefix=cols_to_onehot)
onehotencoded.columns

Index(['Transmission_AUTO', 'Transmission_MANUAL', 'PRIMEUNIT_NO',
       'PRIMEUNIT_YES', 'Auction_ADESA', 'Auction_MANHEIM', 'Auction_OTHER',
       'Make2_CHEVROLET', 'Make2_CHRYSLER', 'Make2_DODGE', 'Make2_FORD',
       'Make2_Other', 'Color2_BLACK', 'Color2_BLUE', 'Color2_GREY',
       'Color2_Other', 'Color2_RED', 'Color2_SILVER', 'Color2_WHITE',
       'WheelType_Alloy', 'WheelType_Covers', 'WheelType_Special',
       'Nationality_AMERICAN', 'Nationality_OTHER', 'Nationality_OTHER ASIAN',
       'Nationality_TOP LINE ASIAN', 'Size2_LARGE', 'Size2_MEDIUM',
       'Size2_Other', 'Size2_SMALL', 'Size2_VAN',
       'TopThreeAmericanName_CHRYSLER', 'TopThreeAmericanName_FORD',
       'TopThreeAmericanName_GM', 'TopThreeAmericanName_OTHER',
       'AUCGUART_GREEN', 'AUCGUART_RED', 'AUCGUART_YELLOW', 'VNST2_AZ',
       'VNST2_CA', 'VNST2_FL', 'VNST2_NC', 'VNST2_Other', 'VNST2_TX'],
      dtype='object')

In [61]:
#concatenate back to data:
data=pd.concat([data, onehotencoded],axis=1)
data.columns.tolist()

['RefId',
 'PurchDate',
 'Auction',
 'VehYear',
 'VehicleAge',
 'Make',
 'Model',
 'Trim',
 'SubModel',
 'Color',
 'Transmission',
 'WheelTypeID',
 'WheelType',
 'VehOdo',
 'Nationality',
 'Size',
 'TopThreeAmericanName',
 'MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice',
 'PRIMEUNIT',
 'AUCGUART',
 'BYRNO',
 'VNZIP1',
 'VNST',
 'VehBCost',
 'IsOnlineSale',
 'WarrantyCost',
 'Trim2',
 '4D',
 '2D',
 'SEDAN',
 'SUV',
 'SPORT',
 'MINIVAN',
 'WAGON',
 'COUPE',
 'PASSENGER',
 'CAB',
 'CONVERTIBLE',
 'UTILITY',
 'Make2',
 'Color2',
 'Size2',
 'VNST2',
 'premium_ave_auc',
 'premium_above_auc',
 'premium_ave_mkt',
 'premium_above_mkt',
 'deprec_ave_auc',
 'deprec_above_auc',
 'deprec_ave_mkt',
 'deprec_above_mkt',
 'Transmission_AUTO',
 'Transmission_MANUAL',
 'PRIMEUNIT_NO',
 'PRIMEUNIT_YES',
 'Auction_ADESA',
 'Auction_MANHEIM',
 'Auction_OTHER',
 'Make2_CHEVROLET',
 'Make2_CHRYSLER',
 'Make2_DODGE',
 'Make2_FORD',
 'Make2_Other',
 'Color2_BLACK',
 'Color2_BLUE',
 'Color2_GREY',
 'Color2_Other',
 'Color2_RED',
 'Color2_SILVER',
 'Color2_WHITE',
 'WheelType_Alloy',
 'WheelType_Covers',
 'WheelType_Special',
 'Nationality_AMERICAN',
 'Nationality_OTHER',
 'Nationality_OTHER ASIAN',
 'Nationality_TOP LINE ASIAN',
 'Size2_LARGE',
 'Size2_MEDIUM',
 'Size2_Other',
 'Size2_SMALL',
 'Size2_VAN',
 'TopThreeAmericanName_CHRYSLER',
 'TopThreeAmericanName_FORD',
 'TopThreeAmericanName_GM',
 'TopThreeAmericanName_OTHER',
 'AUCGUART_GREEN',
 'AUCGUART_RED',
 'AUCGUART_YELLOW',
 'VNST2_AZ',
 'VNST2_CA',
 'VNST2_FL',
 'VNST2_NC',
 'VNST2_Other',
 'VNST2_TX']

## Normalize Numerical Variables

numeric variables: 'VehicleAge','VehOdo', 'MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice', 'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice','VehBCost','WarrantyCost'

In [62]:
cols_to_norm = ['VehicleAge','VehOdo', 'MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice',
                'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice', 
                'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice',
                'VehBCost','WarrantyCost',
                'premium_ave_auc','premium_above_auc','premium_ave_mkt', 'premium_above_mkt', 
                'deprec_ave_auc', 'deprec_above_auc', 'deprec_ave_mkt','deprec_above_mkt']
data[cols_to_norm] = data[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [63]:
data[cols_to_norm].head(10)

,VehicleAge,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,WarrantyCost,premium_ave_auc,premium_above_auc,premium_ave_mkt,premium_above_mkt,deprec_ave_auc,deprec_above_auc,deprec_ave_mkt,deprec_above_mkt
0,0.444444,0.743294,0.182425,0.207049,0.182863,0.206886,0.181606,0.202549,0.270133,0.270618,0.088116,0.240193,0.680124,0.641288,0.746757,0.769186,0.771671,0.753017,0.695524,0.698491
1,0.444444,0.538132,0.163211,0.184321,0.165208,0.185713,0.171980,0.187115,0.238722,0.257964,0.084501,0.093235,0.704730,0.670527,0.763943,0.786230,0.776910,0.764594,0.722386,0.703466
2,0.333333,0.602812,0.371375,0.422819,0.356298,0.407898,0.402940,0.398676,0.484263,0.458208,0.145956,0.107021,0.563633,0.509126,0.669352,0.695053,0.660522,0.674240,0.634238,0.657904
3,0.777778,0.765221,0.092735,0.114840,0.100536,0.120965,0.108408,0.118200,0.180730,0.177545,0.045639,0.209068,0.745313,0.688376,0.781929,0.788623,0.786520,0.774254,0.680940,0.690175
4,0.222222,0.639028,0.181736,0.205654,0.182216,0.205571,0.185605,0.207858,0.186697,0.203963,0.044736,0.065094,0.494794,0.435139,0.599938,0.636401,0.630045,0.598180,0.666387,0.639734
5,0.333333,0.792891,0.157700,0.172260,0.160155,0.174470,0.154060,0.167355,0.224706,0.224831,0.046543,0.124929,0.572049,0.538129,0.656745,0.698758,0.700233,0.684181,0.608029,0.612330
6,0.333333,0.625237,0.310905,0.339137,0.300776,0.329949,0.324521,0.341821,0.431828,0.406538,0.124266,0.098493,0.583111,0.550693,0.681470,0.718504,0.687991,0.681266,0.627796,0.653632
7,0.666667,0.652375,0.141386,0.154330,0.145181,0.157773,0.140398,0.152314,0.218202,0.214619,0.044736,0.174389,0.606961,0.576110,0.681249,0.720944,0.720154,0.705556,0.610089,0.620912
8,0.444444,0.377373,0.158026,0.172649,0.160463,0.174834,0.157355,0.177808,0.233987,0.236069,0.077271,0.042922,0.694726,0.670468,0.755179,0.785110,0.782043,0.761137,0.709445,0.710236
9,0.333333,0.680752,0.300863,0.362546,0.291564,0.351765,0.354993,0.387960,0.415507,0.430292,0.091731,0.165009,0.488194,0.390638,0.608273,0.619266,0.567000,0.541054,0.545648,0.534902

## write to local csv file:

In [64]:
data.to_csv("holdout_test.csv", sep=',', header=True, index=False)
data.columns

Index(['RefId', 'PurchDate', 'Auction', 'VehYear', 'VehicleAge', 'Make',
       'Model', 'Trim', 'SubModel', 'Color',
       ...
       'TopThreeAmericanName_OTHER', 'AUCGUART_GREEN', 'AUCGUART_RED',
       'AUCGUART_YELLOW', 'VNST2_AZ', 'VNST2_CA', 'VNST2_FL', 'VNST2_NC',
       'VNST2_Other', 'VNST2_TX'],
      dtype='object', length=102)